@import '@resources';

.separator {
    background-color: #000;
    flex-shrink: 0;
    flex-grow: 1;
    user-select: none;

    &.vertical {
        width: rem(1);
    }

    &:not(.vertical) {
        height: rem(1);
    }
}
