.section-title, .section-title-dark {
    @include font-size(32px);

    font-weight: 700;
    line-height: 140%;
    padding-bottom: rem(48);
    text-align: center;
}

.section-title {
    color: $accent;
}

.section-title-dark {
    color: $white;
}

section {
    padding-bottom: rem(150);

    @include mq($laptop) {
        padding-bottom: rem(80);
    }
}

ol, ul {
    padding-left: 0;
    list-style-position: inside;
    margin: 0;
}

a {
    color: $white;
    text-decoration: none;
}

.hover-link {
    opacity: 1;

    @include button-transition;

    &:hover {
        opacity: 0.5;
    }
}

.img-container {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
