/* -- Media Query Breakpoints -- */
$mobile: 480;
$phablet: 576;
$tablet: 768;
$tablet-large: 840;
$laptop: 1024;
$laptop-large: 1300;
$desktop: 1400;
$accent: #603790;
$variant: #f4e1da;
$yellow: #febe41;
$white: #fff;
