@import '@resources';

.section {
  padding-bottom: rem(40);

  @include mq($laptop) {
    padding-bottom: rem(120);
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;

  @include mq($laptop) {
    min-height: 30vh;
  }

  @include mq($tablet) {
    min-height: 20vh;
  }
}

.button {
  padding: 0;
  width: rem(350);
  height: rem(64);

  @include mq($laptop) {
    width: rem(280);
    height: rem(56);
  }

  @include mq($tablet) {
    width: rem(240);
    height: rem(52);
  }
}
