@import '@resources';

.about-us {
  display: flex;
  justify-content: center;
  padding-top: 8%;
  padding-bottom: 5%;

  @include mq($laptop) {
    justify-content: space-between;
  }

  @include mq($tablet) {
    flex-direction: column;
    gap: rem(54);
  }
}

.about-text > .about-us-title {
  text-align: left;
}

.about-us-photo {
  width: rem(710);
  height: rem(510);
  min-width: rem(710);

  &_wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: rem(510);
    flex: 1 1 100%;
  }

  @include mq($tablet) {
    width: 100%;
    height: rem(437);
    object-fit: cover;

    &_wrapper {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      height: rem(300);
      flex-shrink: 0;
    }
  }

  @include mq($tablet, '>') {
    position: absolute;
    top: 0;
    left: 0;
  }

  @include mq($desktop, '>') {
    left: unset;
    right: 0;
  }
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 8%;
  padding-right: 8%;
  text-align: start;
  line-height: 160%;
  max-width: 55%;

  & p {
    margin-bottom: rem(32);
  }

  @include font-size(20px);

  @include mq($laptop) {
    @include font-size(18px);

    max-width: rem(461);
  }

  @include mq($tablet) {
    @include font-size(16px);

    max-width: none;
  }
}

.about-us-header {
  color: $accent;
}

.line {
  border-radius: 50%;
  height: rem(3);
  width: auto;
  background-color: $accent;
}

.concept {
  padding: 8%;
}

.concept-text {
  color: $accent;
  font-family: Montserrat, sans-serif;
  padding-top: 7%;
  padding-bottom: 7%;
  line-height: 150%;
  text-align: center;
  font-weight: 600;

  @include font-size(24px);

  @include mq($tablet, '>') {
    width: 65%;
  }

  @include mq($laptop) {
    @include font-size(20px);
  }

  @include mq($tablet) {
    @include font-size(18px);

    padding: rem(60) 0;
  }

  @include mq($mobile) {
    @include font-size(18px);
  }
}

.about-block {
  text-align: center;
  height: rem(415);
  width: rem(350);

  @include mq($tablet) {
    & img {
      width: rem(170);
      height: rem(170);
    }
  }
}

.about-blocks {
  padding-top: 7%;
  padding-bottom: 7%;
  display: flex;
  justify-content: space-around;

  @include mq($tablet) {
    flex-direction: column;
    align-items: center;
  }
}

.about-blocks-header {
  display: flex;
  justify-content: center;
  color: $accent;

  @include mq($mobile) {
    @include font-size(20px);
  }
}

.about-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4%;

  &_message {
    width: rem(486);
    height: auto;
  }

  @include mq($laptop) {
    gap: rem(118);
  }

  @include mq($tablet) {
    gap: rem(56);
    flex-direction: column;
  }

  @include mq($mobile) {
    &_message {
      width: rem(330);
    }
  }
}

.chiled-block-about-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4%;

  & img {
    padding: 5%;
    width: rem(271);
    height: auto;
  }

  @include mq($laptop) {
    flex-direction: column;
    gap: rem(34);

    & img {
      width: rem(166);
    }
  }

  @include mq($tablet) {
    gap: rem(55);

    & img {
      width: rem(168);
    }
  }
}

.about-block-text {
  line-height: 150%;
  font-style: 400;
  padding: 6%;

  @include font-size(20px);
}

.line-two {
  height: rem(1);
  width: rem(348);
  background-color: $white;
}

.carousel {
  width: 90%;
  padding-left: 8%;
}

.concept-main-text {
  display: flex;
  justify-content: center;
}
